.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
  }
.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
@media(max-width:1280px){
    .hero-right img{
        width: 500px;
    }
  }
@media(max-width:1024px){
    .hero-right img{
        width: 400px;
    }
  }
@media(max-width:800px){
    .hero-right img{
        width: 300px;
    }
  }
@media(max-width:500px){
    .hero-right{
        display: none;
    }
  }